@model int
@{
    var statusCode = Model;
    var statusmessage = string.Empty;
    switch (statusCode)
    {
        case 400:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.BadRequestTheRequestCannotBeFulfilledDueToBadSyntax;
            break;
        case 403:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.Forbidden;
            break;
        case 404:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.PageNotFound;
            break;
        case 408:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.TheServerTimedOutWaitingForTheRequest;
            break;
        case 500:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.InternalServerErrorServerWasUnableToFinishProcessingTheRequest;
            break;
        default:
            statusmessage = LearnMsNet.CoreBlog.Config.Resources.ThatsOddSomethingWeDidntExpectHappened;
            break;
    }

    ViewData[BlogConstants.TITLE] = statusmessage;
}

<div class="container">
    <h1>@LearnMsNet.CoreBlog.Config.Resources.Error @Model</h1>
    <p>@statusmessage</p>
</div>

@*@model ErrorViewModel
    @{
        ViewData["Title"] = "Error";
    }

    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>*@
